/*! bulma.io v0.8.2 | MIT License | github.com/jgthms/bulma */
.bulma-tabs {
  -webkit-overflow-scrolling: touch!important;
  align-items: stretch!important;
  display: flex!important;
  font-size: 1rem!important;
  justify-content: space-between!important;
  overflow: hidden!important;
  overflow-x: auto!important;
  white-space: nowrap!important;
}

.bulma-tabs a {
  align-items: center!important;
  border-bottom-color: #dbdbdb!important;
  border-bottom-style: solid!important;
  border-bottom-width: 1px!important;
  color: #4a4a4a!important;
  display: flex!important;
  justify-content: center!important;
  margin-bottom: -1px!important;
  padding: 0.5em 1em!important;
  vertical-align: top!important;
}

.bulma-tabs a:hover {
  border-bottom-color: #363636!important;
  color: #363636!important;
}

.bulma-tabs li {
  display: bulma-block!important;
}

.bulma-tabs li.is-active a {
  border-bottom-color: #3273dc!important;
  color: #3273dc!important;
}

.bulma-tabs ul {
  align-items: center!important;
  border-bottom-color: #dbdbdb!important;
  border-bottom-style: solid!important;
  border-bottom-width: 1px!important;
  display: flex!important;
  flex-grow: 1!important;
  flex-shrink: 0!important;
  justify-content: flex-start!important;
}

.bulma-tabs ul.is-left {
  padding-right: 0.75em!important;
}

.bulma-tabs ul.is-center {
  flex: none!important;
  justify-content: center!important;
  padding-left: 0.75em!important;
  padding-right: 0.75em!important;
}

.bulma-tabs ul.is-right {
  justify-content: flex-end!important;
  padding-left: 0.75em!important;
}

.bulma-tabs .icon:first-child {
  margin-right: 0.5em!important;
}

.bulma-tabs .icon:last-child {
  margin-left: 0.5em!important;
}

.bulma-tabs.is-centered ul {
  justify-content: center!important;
}

.bulma-tabs.is-right ul {
  justify-content: flex-end!important;
}

.bulma-tabs.is-bulma-boxed a {
  border: 1px solid transparent!important;
  border-radius: 4px 4px 0 0!important;
}

.bulma-tabs.is-bulma-boxed a:hover {
  background-color: whitesmoke!important;
  border-bottom-color: #dbdbdb!important;
}

.bulma-tabs.is-bulma-boxed li.is-active a {
  background-color: white!important;
  border-color: #dbdbdb!important;
  border-bottom-color: transparent !important!important;
}

.bulma-tabs.is-fullwidth li {
  flex-grow: 1!important;
  flex-shrink: 0!important;
}

.bulma-tabs.is-toggle a {
  border-color: #dbdbdb!important;
  border-style: solid!important;
  border-width: 1px!important;
  margin-bottom: 0!important;
  position: relative!important;
}

.bulma-tabs.is-toggle a:hover {
  background-color: whitesmoke!important;
  border-color: #b5b5b5!important;
  z-index: 2!important;
}

.bulma-tabs.is-toggle li + li {
  margin-left: -1px!important;
}

.bulma-tabs.is-toggle li:first-child a {
  border-radius: 4px 0 0 4px!important;
}

.bulma-tabs.is-toggle li:last-child a {
  border-radius: 0 4px 4px 0!important;
}

.bulma-tabs.is-toggle li.is-active a {
  background-color: #3273dc!important;
  border-color: #3273dc!important;
  color: #fff!important;
  z-index: 1!important;
}

.bulma-tabs.is-toggle ul {
  border-bottom: none!important;
}

.bulma-tabs.is-toggle.is-toggle-rounded li:first-child a {
  border-bottom-left-radius: 290486px!important;
  border-top-left-radius: 290486px!important;
  padding-left: 1.25em!important;
}

.bulma-tabs.is-toggle.is-toggle-rounded li:last-child a {
  border-bottom-right-radius: 290486px!important;
  border-top-right-radius: 290486px!important;
  padding-right: 1.25em!important;
}

.bulma-tabs.is-small {
  font-size: 0.75rem!important;
}

.bulma-tabs.is-medium {
  font-size: 1.25rem!important;
}

.bulma-tabs.is-large {
  font-size: 1.5rem!important;
}


.bulma-hero.is-white .bulma-tabs a {
  color: #0a0a0a!important;
  opacity: 0.9!important;
}

.bulma-hero.is-white .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-white .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-white .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-white .bulma-tabs.is-toggle a {
  color: #0a0a0a!important;
}

.bulma-hero.is-white .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-white .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-white .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-white .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-white .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-white .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: #0a0a0a!important;
  border-color: #0a0a0a!important;
  color: white!important;
}

.bulma-hero.is-white.is-bold {
  background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%)!important;
}

@media screen and (max-width: 768px) {
  .bulma-hero.is-white.is-bold .bulma-navbar-menu {
    background-image: linear-gradient(141deg, #e6e6e6 0%, white 71%, white 100%)!important;
  }
}

.bulma-hero.is-black {
  background-color: #0a0a0a!important;
  color: white!important;
}

.bulma-hero.is-black a:not(.button):not(.dropdown-item):not(.tag):not(.pagination-link.is-current),
.bulma-hero.is-black strong {
  color: inherit!important;
}

.bulma-hero.is-black .title {
  color: white!important;
}

.bulma-hero.is-black .subtitle {
  color: rgba(255, 255, 255, 0.9)!important;
}

.bulma-hero.is-black .subtitle a:not(.button),
.bulma-hero.is-black .subtitle strong {
  color: white!important;
}

@media screen and (max-width: 1023px) {
  .bulma-hero.is-black .bulma-navbar-menu {
    background-color: #0a0a0a!important;
  }
}

.bulma-hero.is-black .navbar-item,
.bulma-hero.is-black .navbar-link {
  color: rgba(255, 255, 255, 0.7)!important;
}

.bulma-hero.is-black a.navbar-item:hover, .bulma-hero.is-black a.navbar-item.is-active,
.bulma-hero.is-black .navbar-link:hover,
.bulma-hero.is-black .navbar-link.is-active {
  background-color: black!important;
  color: white!important;
}

.bulma-hero.is-black .bulma-tabs a {
  color: white!important;
  opacity: 0.9!important;
}

.bulma-hero.is-black .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-black .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-black .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-black .bulma-tabs.is-toggle a {
  color: white!important;
}

.bulma-hero.is-black .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-black .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-black .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-black .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-black .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-black .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: white!important;
  border-color: white!important;
  color: #0a0a0a!important;
}



.bulma-hero.is-light .bulma-tabs a {
  color: rgba(0, 0, 0, 0.7)!important;
  opacity: 0.9!important;
}

.bulma-hero.is-light .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-light .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-light .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-light .bulma-tabs.is-toggle a {
  color: rgba(0, 0, 0, 0.7)!important;
}

.bulma-hero.is-light .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-light .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-light .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-light .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-light .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-light .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: rgba(0, 0, 0, 0.7)!important;
  border-color: rgba(0, 0, 0, 0.7)!important;
  color: whitesmoke!important;
}

.bulma-hero.is-dark .bulma-tabs a {
  color: #fff!important;
  opacity: 0.9!important;
}

.bulma-hero.is-dark .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-dark .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-dark .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-dark .bulma-tabs.is-toggle a {
  color: #fff!important;
}

.bulma-hero.is-dark .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-dark .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-dark .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-dark .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-dark .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-dark .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: #fff!important;
  border-color: #fff!important;
  color: #363636!important;
}


.bulma-hero.is-primary .bulma-tabs a {
  color: #fff!important;
  opacity: 0.9!important;
}

.bulma-hero.is-primary .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-primary .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-primary .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-primary .bulma-tabs.is-toggle a {
  color: #fff!important;
}

.bulma-hero.is-primary .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-primary .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-primary .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-primary .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-primary .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-primary .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: #fff!important;
  border-color: #fff!important;
  color: #00d1b2!important;
}


.bulma-hero.is-danger .bulma-tabs a {
  color: #fff!important;
  opacity: 0.9!important;
}

.bulma-hero.is-danger .bulma-tabs a:hover {
  opacity: 1!important;
}

.bulma-hero.is-danger .bulma-tabs li.is-active a {
  opacity: 1!important;
}

.bulma-hero.is-danger .bulma-tabs.is-bulma-boxed a, .bulma-hero.is-danger .bulma-bulma-tabs.is-toggle a {
  color: #fff!important;
}

.bulma-hero.is-danger .bulma-tabs.is-bulma-boxed a:hover, .bulma-hero.is-danger .bulma-tabs.is-toggle a:hover {
  background-color: rgba(10, 10, 10, 0.1)!important;
}

.bulma-hero.is-danger .bulma-tabs.is-bulma-boxed li.is-active a, .bulma-hero.is-danger .bulma-tabs.is-bulma-boxed li.is-active a:hover, .bulma-hero.is-danger .bulma-tabs.is-toggle li.is-active a, .bulma-hero.is-danger .bulma-tabs.is-toggle li.is-active a:hover {
  background-color: #fff!important;
  border-color: #fff!important;
  color: #f14668!important;
}


.bulma-box:not(:last-child), .content:not(:last-child), .notification:not(:last-child), .progress:not(:last-child), .table:not(:last-child), .table-container:not(:last-child), .title:not(:last-child),
.subtitle:not(:last-child), .bulma-block:not(:last-child), .highlight:not(:last-child), .breadcrumb:not(:last-child), .level:not(:last-child), .list:not(:last-child), .message:not(:last-child), .pagination:not(:last-child), .tabs:not(:last-child) {
  margin-bottom: 1.5rem!important;
}


.bulma-box {
  background-color: white!important;
  border-radius: 6px!important;
  bulma-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02)!important;
  color: #4a4a4a!important;
  display: bulma-block!important;
  padding: 1.25rem!important;
}

a.bulma-box:hover, a.bulma-box:focus {
  bulma-box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc!important;
}

a.bulma-box:active {
  bulma-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc!important;
}
