/* Tailwind CSS Carousel stuff */
.carousel-open:checked + .carousel-item {
     position: static;
     opacity: 100;
}
 .carousel-item {
     -webkit-transition: opacity 0.6s ease-out;
     transition: opacity 0.6s ease-out;
}
 #carousel-1:checked ~ .control-1, #carousel-2:checked ~ .control-2, #carousel-3:checked ~ .control-3 {
     display: block;
}
 .carousel-indicators {
     list-style: none;
     margin: 0;
     padding: 0;
     position: absolute;
     bottom: 2%;
     left: 0;
     right: 0;
     text-align: center;
     z-index: 10;
}
 #carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet, #carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet, #carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet {
     color: #2b6cb0;
    /*Set to match the Tailwind colour you want the active one to be */
}



/* Master Studd */

body {
  background-color: white!important;
}

.chat-notification {
    display: flex;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  }
  .chat-notification-logo-wrapper {
    flex-shrink: 0;
  }
  .chat-notification-logo {
    height: 3rem;
    width: 3rem;
  }
  .chat-notification-content {
    margin-left: 1.5rem;
    padding-top: 0.25rem;
  }
  .chat-notification-title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
  }
  .chat-notification-message {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
  }

.p-p {
  color: #8a8f94!important;
}

input[type="radio"] + label span {
    transition: background .2s,
      transform .2s;
}

input[type="radio"] + label span:hover,
input[type="radio"] + label:hover span{
  transform: scale(1.2);
}

input[type="radio"]:checked + label span {
  background-color: #3490DC;
  box-shadow: 0px 0px 0px 2px white inset;
}

input[type="radio"]:checked + label{
   color: #3490DC;
}


.typewriter {
 border-right: solid 5px rgba(255,255,255,.75);
 white-space: nowrap;
 overflow: hidden;
 font-family: 'Source Code Pro', monospace;
 font-size: 28px;
 color: rgba(255,255,255,.70);
}

/* Animation */
.typewriter {
 animation: animated-text 4s linear 1s 1 normal both,
            animated-cursor 600ms linear infinite;
}

/* text animation */

@keyframes animated-text{
 from{width: 0;}
 to{width: 310px;}
}

/* cursor animations */

@keyframes animated-cursor{
 from{border-right-color: rgba(255,255,255,.75);}
 to{border-right-color: transparent;}
}
